.product-icon {
    height: 100px;
    width: 100px;
}

.product-icon img {
    max-height: 100%;
    max-width: 100%;
}

.header{
    font-size: 36px;
    color: #555;
    border-bottom: 1px solid;
}

.cart {
    font-size: 32px;
    margin: auto;
    width: 80%;
    height: 80%;
}

.row {
    display: flex;
    height: 100px;
    margin-top: 20px;
    margin: auto;
}

.product-info{
    height: 100%;
    width: 100%;
    display: flex;
}

.product-info div{
    margin: auto;
    margin-left: 10px;
}

.brand {
    width: 130px;
}

.name {
    width: 300px;
}

.price {
    width: 130px;
}

.amount {
    width: 120px;
    text-align: center;
    display: flex;
}

.amount button {
    border: none;
    background: none;
    transition: none;
}

.amount span{
    width: 100px;
}

.plus button:hover {
    background-color: #00D100;
    border-radius: 40px;
}

.minus button:hover {
    background-color: #ff4c4c;
    border-radius: 40px;
}

.delete {
    width: 80px;
    height: 80px;
    background: none;
}

.delete form {
    margin-left: 20px;
    border-radius: 8px;
    transition: 0.3s;
    height: 100%;
    width: 100%;
}

.delete form:hover {
    background-color: #ff4c4c;
}


.delete button {
    background: none;
    border: none;
    margin: auto auto;
    width: 100%;
    height: 100%;
}

.delete img {
    margin: auto;
    display: block;
    width: 64px;
}

.billing {
    margin-top: 50px;
}

.small-col {
    width: 45%;
}

.small-col:first-of-type{
    margin-right: 10%;
}

input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

label {
    margin-bottom: 10px;
    display: block;
}

.icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
}

.confirmation {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 300px;
    background: #none;
}

.confirmation button{
    font-size: 28px;
    height: 75px;
    width: 100%;
    border-radius: 8px;
    border: none;
    background: #eee;
    transition: 0.3s;
}

.confirmation button:hover{
    background: #ccc;
}

.empty {
    margin-top: 150px;
    text-align: center;
    font-size: 30px;
}