.panel {
    z-index: 999;
    top:0;
    left:0;
    position: fixed;
    background-color: #eee;
    height: 50px;
    width: 100%;
    margin-bottom: 50px;
}

.panel button{
    text-align: center;
    font-size: 32px;
}

.panel button:hover{
    background-color: #ccc;
}

.menu-button {
    width: 20%;
    border: none;
    float: left;
}

.cart-button{
    float: right;
    border: none;
    width: 100px;
}

.right-button {
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    width: 20%;
    border: none;
}

.cart-button img {
    width: 32px;
}

.avatar {
    max-width: 40px;
    max-height: 40px;
}

.localization {
    float: left;
    position: relative;
    display: flex;
    height: 50px;
    overflow: hidden;
}

.localization select{
    font-size: 32px;
    appearance: none;
    background: #eee;
    outline: 0;
    border: 0;
    box-shadow: none;
    padding: 0 1em;
    background-image: none;
    cursor: pointer;
}

.localization select:hover{
    background: #ccc;
}

.localization select::-ms-expand {
    display: none;
}