body {
    padding-bottom: 50px;
}
.filter-menu {
    border: 1px solid #999;
    height: 220px;
}
.block {
    position: relative;
    border: 1px solid #999;
    height: 100%;
    float: left;
    width: 50%;
}

.filtering-panel {
    margin: auto;
	text-align: center;
    display: flex;
    position: relative;
    height: 100%;
    width: 80%;
}

.filter-content {
    margin-top: 10px;
}

.filtering-panel button {
    width: 100%;
    position: absolute;
    bottom: 2px;
    right: 0;
}

.filtering-panel input[type=text],[type=number]{
    margin-bottom: 5px;
    width: 100%;
}

.sorting {
    height: 20%;
}

.page-size {
    height: 80%;
}

.product-wrapper {
	display: block;
	width: 100%;
	float: left;
	transition: width .2s;
}

.product {
	margin: 0 20px 20px 0;
	color: #0c3e51;
	height: 250px;
	text-align: center;
}

.product-name{
    width: 100%;
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.link-button {
    width: 100%;
    background: #eee;
    transition: .2s;
    border: none;
    width: 100%;
}

.link-button:hover {
    background: #ccc;
}

.products {
	list-style: none;
	margin: 0 -20px 0 0;
	padding: 0;
}

.product-photo {
	position: relative;
	padding-bottom: 60%;
	overflow: hidden;
}

.product-photo img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	max-width: 95%;
	max-height: 95%;
	margin: auto;
	transition: transform .4s ease-out;
}

.product:hover .product-photo img {
	transform: scale(1.05);
}


@media only screen and (min-width: 450px) {
	.product-wrapper {
		width: 50%;
	}
}

@media only screen and (min-width: 768px) {
	.product-wrapper {
		width: 33.333%;
	}
}

@media only screen and (min-width: 1000px) {
	.product-wrapper {
		width: 25%;
	}
}
.pagination {
    width: 100%;
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.pagination a {
    color: black;
    float: left;
    text-align: center;
    width: 50%;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}