.registration form {
    width: 50%;
    margin: auto;
}
.input-row input {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
}
.newsletter{
    margin-left: 33%;
    width: 100%;
}

.newsletter label{
    width: 34%;
    text-align: center;
}

.newsletter input[type="checkbox"]:checked{
    border: 2px solid red;
    color: #ff0000;
}

.uploadForm input[type="submit"]{
    margin-top: 10px;
    border: none;
}

.input-row label,
.input-row input,
.input-row button {
    margin-bottom: 1%;
    display: block;
    width: 100%;
}

.registration button {
    margin-top: 24px;
    width: 100%;
    height: 50px;
    border-radius: 8px;
    border: none;
    background: #eee;
    transition: 0.3s;
}

.registration button:hover{
    background: #ccc;
}

.registration form .error {
    color: #ff0000;
}