<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
  <display-name>Archetype Created Web Application</display-name>
  <context-param>
    <param-name>encoding</param-name>
    <param-value>UTF-8</param-value>
  </context-param>
  <context-param>
    <param-name>CaptchaContainer</param-name>
    <param-value>com.my.web.captcha.container.strategy.impl.CookieCaptchaContainerStrategy</param-value>
  </context-param>
  <context-param>
    <param-name>Timeout</param-name>
    <param-value>10000</param-value>
  </context-param>
  <context-param>
    <param-name>UserService</param-name>
    <param-value>com.my.service.user.UserServiceImpl</param-value>
  </context-param>
  <context-param>
    <param-name>UserDAO</param-name>
    <param-value>com.my.dao.user.impl.UserDAOMap</param-value>
  </context-param>
  <context-param>
    <param-name>ImagesFilepath</param-name>
    <param-value>images\</param-value>
  </context-param>
  <filter>
    <filter-name>LocaleFilter</filter-name>
    <filter-class>com.my.web.filter.LocaleFilter</filter-class>
    <init-param>
      <param-name>DefaultLocale</param-name>
      <param-value>en</param-value>
    </init-param>
    <init-param>
      <param-name>Locales</param-name>
      <param-value>en, ua</param-value>
    </init-param>
    <init-param>
      <param-name>LocaleContainer</param-name>
      <param-value>com.my.web.locale.impl.SessionLocaleContainer</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>LocaleFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>com.my.web.filter.CharacterEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>CredentialsFilter</filter-name>
    <filter-class>com.my.web.filter.CredentialsFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CredentialsFilter</filter-name>
    <url-pattern>/credentials.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>CacheDisableFilter</filter-name>
    <filter-class>com.my.web.filter.CacheDisableFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CacheDisableFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>